<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="NodeJSConfigurationType" factoryName="Node.js" path-to-node="project" path-to-js-file="bin/www" working-dir="$PROJECT_DIR$/server">
    <profiling v8-profiler-path="" />
    <EXTENSION ID="com.jetbrains.nodejs.run.NodeJSProfilingRunConfigurationExtension">
      <profiling v8-profiler-path="" />
    </EXTENSION>
    <method />
  </configuration>
</component>